{% include 'publicheader.html' %}

  <section style="background: url(/static/images/m3.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;height: auto;
        margin-top:80px;" id="home">
       <div class="overlay">
           <div class="container">
               <div class="row">
                   <div class="main-heading-content col-md-12 col-sm-12 text-center">
        <h1 class="main-heading-title">ELDER   <span class="main-element themecolor" data-elements="INTERACTION SYSTEM,SYSTEM,SYSTEM"></span></h1>
        
      </div>
               </div>
           </div>
           <br><br>

       </div>  
      
   </section>
 <br>
 <br>
 <br>
 <br>

{% include 'footer.html' %}
